.txtDescription{
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    text-align: center;
}
.buttonsChangeTxt{
    color: white;
}
.buttonsChangeTxt:hover{
    scale: 1.1;
    color: #492E87;
}
.divChangeText{
    height: 24vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.divTxtContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}
.txtContainer{
    width: 95%;
    text-align: center;
}

@media (max-width: 760px){
    .txtDescription h3 {
        font-size: 10px;
    }
}