.divContainerSkills {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
}
.divTitleSkils {
  display: flex;
  width: 100%;
  justify-content: center;
}
.titleSkills {
  margin: 0px;
  color: black;
}
.divSkills {
  height: 70vh;
  background-color: #211951;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  transition: 0.8s;
  backdrop-filter: blur(2px);
}
.divSkills:hover .divImgSkills {
  transition: 1s;
  background-color: #211951;
}
.divSkills:hover .divSkillsList {
  transition: 1s;
  background-color: white;
}
.secondDivSkills {
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.divImgSkills {
  transition: 1s;
  background-color: white;
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
}
.divSkillsList {
  transition: 1s;
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}
.divAllItems {
  display: flex;
  height: 60vh;
  width: 90%;
  flex-direction: column;
  justify-content: space-around;
}
.divFirstItems {
  display: flex;
  justify-content: space-between;
}
.divItems {
  display: flex;
  justify-content: space-around;
}
.hoverSkills:hover {
  scale: 1.2;
}

@media (max-width: 760px) {
  .secondDivSkills {
    height: 85vh;
  }
  .divSkills {
    height: 85vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .divSkillsList {
    width: 100%;
  }
  .divImgSkills{
    width: 100%;
  }
  .divAllItems {
    height: 58vh;
  }
}
