.containerMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 93vh;
  justify-content: center;
}
.divImg {
  height: 70vh;
  width: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
}
.divTxt {
  width: 45%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
.imgMain {
  width: 70%;
}
.divMain {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s;
}
.divMain:hover{
  background-color: #211951d4;
  transition: 1s;
}
.tittleName {
  margin: 0px;
  font-size: 40px;
}
.pFrontEnd {
  margin: 10px 10px;
}

@media (max-width: 760px) {
  .divMain {
    flex-direction: column;
  }
  .divImg {
    width: 45%;
    height: 50vh;
  }
  .imgMain {
    width: 60%;
  }
  .tittleName {
    font-size: 30px;
  }
}

@media (max-width: 580px) {

    .divTxt, .divImg{
        width: 70%;
    }

}

@media (max-width: 400px){

    .divTxt{
        width: 90%;
    }
    .divImg{
      width: 90%;
      height: 30vh;
    }
    .imgMain{
      width: 50%;
    }
}