footer {
  height: 100%;
  background-color:  #211951d4;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.divTitleFooter {
  display: flex;
  height: 15vh;
  width: 50%;
  align-items: center;
  justify-content: center;
}
.itemList {
  margin: 20px 0px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.divList {
  width: 100%;
}
.list {
  margin: 0px;
  padding: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.items {
  text-decoration: none;
  list-style-type: none;
  border: 1px solid transparent;
  border-radius: 20px;
  background-color: #492e87;
  height: 50px;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.items,
a {
  text-decoration: none;
  list-style-type: none;
  color: white;
  font-size: 12px;
}
.itemsDouble,
p {
  color: white;
  font-size: 12px;
  margin: 0px;
}
.itemsDouble {
  text-decoration: none;
  list-style-type: none;
  border: 1px solid transparent;
  border-radius: 20px;
  background-color: #492e87;
  height: 50px;
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.divIcon {
  display: flex;
  justify-content: center;
  width: 20%;
}
.buttonCopyEmail, .buttonIconContact {
  border-radius: 5px;
  border: 0px solid rgb(33, 25, 81);
  background-color: transparent;
  padding: 5px;
}
.buttonCopyEmail:hover,.buttonIconContact:hover {
  border: 0px;
  background-color: white;
  transition: 0.2s;
}


/* MEDIA QUERIES */

@media (max-width: 1030px){

    .items , .itemsDouble{
      width: 46%;
    }
    .divTitleFooter{
      width: 100%;
    }
}

@media (max-width: 790px){

  .items , .itemsDouble{
    width: 65%;
  }
}

@media  (max-width: 565px){
  .items , .itemsDouble{
    width: 85%;
  }
  .itemsDouble p , .items a {
    font-size: 10px;
  }
}

@media (max-width: 382px){

  .items , .itemsDouble{
    display: none;
  }

}