body {
  font-family: "Merriweather Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  background-image: url("/pexels-timmossholder-4934062.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  color: white;
  overflow: auto !important;
  padding-right: 0px !important;
}
